.fluid-span-1 {
  width: 10.3125%;
}

.fluid-span-2 {
  width: 23.125%;
}

.fluid-span-3 {
  width: 35.9375%;
}

.fluid-span-4 {
  width: 48.75%;
}

.fluid-span-5 {
  width: 61.5625%;
}

.fluid-span-6 {
  width: 74.375%;
}

.fluid-span-7 {
  width: 87.1875%;
}

.fluid-span-8 {
  width: 100%;
}

.fluid-offset-1 {
  margin-left: 12.8125%;
}

.fluid-offset-2 {
  margin-left: 25.625%;
}

.fluid-offset-3 {
  margin-left: 38.4375%;
}

.fluid-offset-4 {
  margin-left: 51.25%;
}

.fluid-offset-5 {
  margin-left: 64.0625%;
}

.fluid-offset-6 {
  margin-left: 76.875%;
}

.fluid-offset-7 {
  margin-left: 89.6875%;
}

