body {
	font-family: 'Inter';
}

:root {
	--columnGap: 4rem;
	--rowGap: calc(var(--lineHeight) * 4);
	--mainColor: #ff9800;
}

.about {
	font-size: small;
}

.links {
	font-weight: 500;
	font-size: small;
	color: black;
}
a {
	background:
	linear-gradient(
		to bottom, var(--mainColor) 0%,
		var(--mainColor) 100%
		);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 4px;
	color: black;
	text-decoration: none;
	transition: background-size .2s;
}

a:hover {
	color: black;
	background-size: 4px 50px;
}
}