body {
	font-family: Inter;
}

:root {
	--columnGap: 4rem;
	--rowGap: calc(var(--lineHeight) * 4);
	--mainColor: #ff9800;
	--darkmodemaincolor: #C37331;
}
.about {
	font-size: small;
}
.content {
	max-width: 90%;
	padding-top: 3%;
	margin: auto;
}
.links {
	font-weight: 500;
	font-size: small;
}
.header {
	font-family: neue-haas-grotesk-text, sans-serif;
	font-weight: 900;
	font-style: normal;
}
a {
	background:
	linear-gradient(
		to bottom, var(--mainColor) 0%,
		var(--mainColor) 100%
		);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 4px;
	color: black;
	text-decoration: none;
	transition: background-size .2s;
}
a:hover {
	color: black;
	background-size: 4px 50px;
}
@media screen and (prefers-color-scheme: light) {
	body {
		background-color: white;
		color: black;
	}
}
@media screen and (prefers-color-scheme: dark) {
	body {
		background-color: #2D2D2D;
		color: #F2F2F3;
	}
	h4 {
		color: #E6E7EA;
	}
	h3 {
		color: #E6E7EA;
	}
	a {
		background:
		linear-gradient(
			to bottom, var(--darkmodemaincolor) 0%,
			var(--darkmodemaincolor) 100%
			);
		background-position: 0 100%;
		background-repeat: repeat-x;
		background-size: 4px 4px;
		color: #F2F2F3;
		text-decoration: none;
		transition: background-size .2s;
	}
	a:hover {
		color: #F2F2F3;
		background-size: 4px 50px;
	}
}